%d is the format code for an integer.

In [7]:

x = "3"
print "x = %d" %int(x)

x = 3

%f is the format code for a float.

In [6]:
x = "3"
print "x = %.3f" %int(x)

x = 3.000

Cast String to Float

In [8]:
float(x)

3.0

Remainder 9 mod 2 is 1.0

In [13]:
x = 9.
y = 2.
z = x % y
z

1.0

Division 9 / 2 = 4.5

In [12]:
x = 9.
y = 2.
z = x / y
z

4.5

Summation 5 + 4 = 9

In [15]:
x = 5
y = 4
z = x + y
z

9

Subtraction 4 -2 = 2

In [16]:
x = 4
y = 2
z = x - y
z

2

pi in python is a math object constant

In [18]:
import math
math.pi

3.141592653589793

Ask input from user in Python

In [23]:
x = raw_input("What is your name? ")
y = raw_input("How old are you? ")
y = int(y)
print "Hello %s. You are %d years old" %(x,y)

What is your name? Kenneth Phang
How old are you? 41
Hello Kenneth Phang. You are 41 years old

Number comparison  in Python less than

In [24]:
num1 = int(raw_input("Enter number1? "))
num2 = int(raw_input("Enter number2? "))
num1 < num2

Enter number1? 5
Enter number2? 2

False

Number comparison  in Python greater than

In [25]:
num1 = int(raw_input("Enter number1? "))
num2 = int(raw_input("Enter number2? "))
num1 > num2

Enter number1? 5
Enter number2? 2

True

Equality in Python (must be the same equals)

In [26]:
num1 = int(raw_input("Enter number1? "))
num2 = int(raw_input("Enter number2? "))
num1 == num2

Enter number1? 2
Enter number2? 2

True

Equality in Python (not equals)

In [28]:
num1 = int(raw_input("Enter number1? "))
num2 = int(raw_input("Enter number2? "))
num1 != num2

Enter number1? 2
Enter number2? 2

False

Control statement in Python if then else (check even or odd)

In [36]:
num = int(raw_input("Enter a number? "))
if num == 0:
    ## even blocks
    print "%d is zero" %num
elif (num % 2) == 0:
    ## even blocks
    print "%d is even" %num
else:
    ## odd blocks
    print "%d is odd" %num

Enter a number? 4
4 is even

While Loop statement in Python

In [1]:
x = 2
while x < 10:
    print "x = %d" %x
    x = x ** 2

x = 2
x = 4

Introduce break in the while loop

In [5]:
x = 2
while True:
    if x > 10:
        break
    print "x = %d" %x
    x = x ** 2

x = 2
x = 4

Range and For loop in Python

In [7]:
range(10)

[3, 4, 5, 6, 7, 8, 9]

In [10]:
range(3, 10)

[3, 4, 5, 6, 7, 8, 9]

In [11]:
range(3, 10 ,3)

[3, 6, 9]

In [12]:
for x in range(0, 3):
    print "We're on time %d" % (x)

We're on time 0
We're on time 1
We're on time 2

In [1]:
for i in range(10):
    print "i = %d" %(i**2)

i = 0
i = 1
i = 4
i = 9
i = 16
i = 25
i = 36
i = 49
i = 64
i = 81

In [1]:
i = 0
while i < 10:
    print "i = %d" %(i**2)
    i += 1

i = 0
i = 1
i = 4
i = 9
i = 16
i = 25
i = 36
i = 49
i = 64
i = 81